 <div class="row">
      <div class="game">
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="panel panel-default">
            <div class="panel-heading text-center">
              <img src="<%= @post.game.image_url%>" alt="" >
            </div>
            <div class="panel-body">
              <p class="game-title"><%= @post.game.title %></p>
            </div>
            <%= form_for(@post) do |f|%>
              <div class="form-group">
                <%= f.text_area :impression, class: 'form-control', rows: 6 %>
              </div>
              <%= f.hidden_field :game_id %>
              <%= f.submit '保存', class: 'btn btn-primary btn-block' %>
            <% end %>
          </div>
        </div>
      </div>
  </div>